HASSIO 2 FreeDS nodered.json
[{"id":"37f771f8d884e8bc","type":"tab","label":"Hassio to FeeDS","disabled":false,"info":""},{"id":"fb22a5627e5c2b1f","type":"mqtt out","z":"37f771f8d884e8bc","name":"","topic":"Inverter/PvWattsTotal","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":660,"y":320,"wires":[]},{"id":"06364304a5a3a8a0","type":"mqtt out","z":"37f771f8d884e8bc","name":"","topic":"Inverter/GridWatts","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":950,"y":280,"wires":[]},{"id":"fb11a67ad5ebf54e","type":"mqtt out","z":"37f771f8d884e8bc","name":"","topic":"Inverter/SolarKwUse","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":660,"y":360,"wires":[]},{"id":"da97023dfbc0c44f","type":"mqtt out","z":"37f771f8d884e8bc","name":"","topic":"Inverter/MPPT1_Volts","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":660,"y":400,"wires":[]},{"id":"a7d4f2dda1943b94","type":"mqtt out","z":"37f771f8d884e8bc","name":"","topic":"Inverter/MPPT1_Amps","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":660,"y":440,"wires":[]},{"id":"16ae575e070992de","type":"mqtt out","z":"37f771f8d884e8bc","name":"","topic":"Inverter/MPPT1_Watts","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":660,"y":480,"wires":[]},{"id":"d05dcbda81d66389","type":"mqtt out","z":"37f771f8d884e8bc","name":"","topic":"Inverter/Temperature","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":660,"y":520,"wires":[]},{"id":"124639a85671960e","type":"mqtt in","z":"37f771f8d884e8bc","name":"","topic":"emon/NodeHuawei/#","qos":"2","datatype":"auto","broker":"","nl":false,"rap":false,"x":400,"y":580,"wires":[["40fca7eed477918a"]]},{"id":"40fca7eed477918a","type":"debug","z":"37f771f8d884e8bc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":580,"wires":[]},{"id":"f34eb46a1ffaa030","type":"trigger-state","z":"37f771f8d884e8bc","name":"daily_yield","server":"1fa49327.69c65d","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pv_daily_yield","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":370,"y":360,"wires":[["fb11a67ad5ebf54e"],[]]},{"id":"6db9adda8340ee83","type":"trigger-state","z":"37f771f8d884e8bc","name":"pv_string_01_voltage","server":"1fa49327.69c65d","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pv_string_01_voltage","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":340,"y":400,"wires":[["da97023dfbc0c44f"],[]]},{"id":"f4bb9bc6c97409a1","type":"trigger-state","z":"37f771f8d884e8bc","name":"pv_string_01_current","server":"1fa49327.69c65d","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pv_string_01_current","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":340,"y":440,"wires":[["a7d4f2dda1943b94"],[]]},{"id":"2ef9bec6e6e97266","type":"trigger-state","z":"37f771f8d884e8bc","name":"sensor.pv_input_power","server":"1fa49327.69c65d","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pv_input_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":330,"y":480,"wires":[["16ae575e070992de"],[]]},{"id":"29bafc753690d648","type":"trigger-state","z":"37f771f8d884e8bc","name":"sensor.sun2000_6ktl_l1","server":"1fa49327.69c65d","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.sun2000_6ktl_l1","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":330,"y":320,"wires":[["fb22a5627e5c2b1f"],[]]},{"id":"d72474bc2d580f8a","type":"trigger-state","z":"37f771f8d884e8bc","name":"power_meter_active_power","server":"1fa49327.69c65d","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pv_active_power","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":320,"y":280,"wires":[["d3452de0c14d7d4f"],[]]},{"id":"d3452de0c14d7d4f","type":"change","z":"37f771f8d884e8bc","name":"convertir a numero y cambio signo","rules":[{"t":"set","p":"payload","pt":"msg","to":"($number(payload))*-1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":280,"wires":[["06364304a5a3a8a0"]]},{"id":"7b624162f5ac3ab1","type":"trigger-state","z":"37f771f8d884e8bc","name":"pv_internal_temp","server":"1fa49327.69c65d","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pv_internal_temp","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","x":350,"y":520,"wires":[["d05dcbda81d66389"],[]]},{"id":"f82845bea3cd157a","type":"comment","z":"37f771f8d884e8bc","name":"Hassio to FeeDS","info":"","x":380,"y":140,"wires":[]},{"id":"1fa49327.69c65d","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true}]